#problem-and-answer * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.exercise, .vars, #next { display: none; }
p.question { font-weight: bold; }
var { font-style: normal; }

.hint_blue { color: #6495ED; }
.hint_orange { color: #FFA500; }
.hint_pink { color: #FF00AF; }
.hint_red { color: red; }
.hint_green { color: #28AE7B; }
.hint_gray { color: gray; }
.hint_purple{ color: purple; }

.final_answer { font-weight: bold; }

div.subhint {
    border: 1px solid #aaaaaa;
    background: #f9f9f9;
    display: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

a.show-subhint {
    font-size: 12px;
    font-style: italic;
}

div.definition {
    position: absolute;
    border: 1px solid #aaaaaa;
    background: #f9f9f9;
    display: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    z-index: 1000;
}

#problem-and-answer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
#problem_area_wrap { -webkit-flex: 1 0 1%; flex: 1 0 1%; overflow: visible; min-width: 1px; }
#answer_area_wrap { width: 300px; }
@media (max-width: 1023px) {
    #answer_area_wrap { width: 100%; }
}


#sourcearea {margin-left: 30px;}
#workarea { margin: 0 30px; }
#hintsarea { margin-left: 50px; }
#answer_area ul { list-style: none; }
#answer_area li { padding: 7px 0; }
#answer_area li label { display: block; }
#answer_area li input[type=radio] { float: left; margin-top: 4px; }
#answer_area li .value { display: block; min-height: 22px; margin-left: 18px; }

#extras li { display: inline; }
#extras li:before { content: "| "; }
#extras li:first-child:before { content: ""; }

#answer_area #check-answer-results { overflow: hidden; margin: 5px 0; }
#answer_area #check-answer-results .check-answer-message { font-size: 12px; line-height: 20px; margin: 0; }
#sad, #happy { float: left; margin: 0 6px 4px 0; }

#examples { color: #777; margin-left: 20px; list-style-type: disc; }
#examples li { margin: 5px 0; }

#problemarea { font-size: 20px; }
#problemarea input { position: relative; z-index: 3; }
#problemarea select { position: relative; z-index: 3; }

#solution { font-size: 14px; }
#solution label { display: block; white-space: nowrap; }

#tester-info { border: 1px solid #AAA; background: #F0F0F0; padding: 10px; margin: 10px 0; }
#debug var { font: 14px Menlo, Courier, monospace; word-wrap: break-word; }

#problem-and-answer code, #examples code { font-family: Helvetica, Arial; font-size: inherit; color: inherit; background-color: inherit;}
table.limit { margin: 5px; }
table.limit th { font-weight: bold; text-align: center; }
table.limit td { border: 1px solid #AAA; }
table.limit th, td { padding: 5px; }
table.limit th:first-child { text-align: right; }

#answer_area input[type=text] { width: 80px; }
#readonly { display: none; }

.radical .surd { font: 150% Arial; padding: 0 0 0 5px; }
.radical .overline { border-top: 1px solid #000; padding: 6px 1px 0 3px; margin-left: -1px; }
#answer_area .radical input[type=text] { width: 30px; }

#answer_area .info-box { z-index: 4; }

body.debug .graphie { outline: 1px dashed red; }
.graphie svg { position: absolute; top: 0; left: 0; }

#scratchpad {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: 2;
    width: calc(100% - 40px);
    height: calc(100% - 40px - 25px);
    display: none;
    padding: 20px;
}
#scratchpad > div {
    border: 1px solid #ccc;
    height: 100%;
}
#scratchpad-not-available { display: none; }

#tester-info.info-box { background: #f2e4bf; }
#tester-info .box { border: 1px solid black; padding: 2px 4px; margin-left: 5px; }
#tester-info .group-box { border: 1px solid #aaa; padding: 6px 4px 6px 0px; margin-left: 2px; }

.summary { display: none; }
#browserwarning { background: white; margin: 0 1px; padding: 18px; font-size: 120%; text-align: center; }

#answer_area .answer-buttons input.simple-button,
#answer_area input.simple-button.full-width {
  width: 92%;
}
#answer_area #answercontent { position: relative; z-index: 3; }
#answer_area .hint-box { position: relative; z-index: 2;}
#answer_area #examples-show {
  float: right;
  margin-top: -2px;
  background: #F7F7F7;
  padding: 0 10px;
  font-size: 80%;
  border-radius: 50px;
  border: 1px solid #DDD;
  color: #777;
  cursor: default;
}
#answer_area #examples-show:hover,
#answer_area #examples-show.hover {
  background: #777;
  color: #fff;
  text-decoration: none;
}

#answer_area .calculator {
    width: 181px;
    margin: 0 auto;
}

#answer_area .calculator .history {
    font: 14px/1.5 Menlo, Monaco, Courier, monospace;
    margin: 0 0 10px;
    width: 183px;
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#answer_area .calculator .history .output {
    text-align: right;
}

#answer_area .calculator .history input {
    box-sizing: border-box;
    display: block;
    font: inherit;
    margin: 5px 3px 3px;
    width: 169px;
    padding-right: 25px;
}

#answer_area .calculator .history .input {
    position: relative;
}

#answer_area .calculator .history .status a {
    position: absolute;
    font: 10px/1.5 Menlo, Monaco, Courier, monospace;
    color: #999;
    text-decoration: none;
    line-height: 10px;
    height: 19px;
    top: 5px;
    right: 6px;
}

#answer_area .calculator .keypad .calc-row {
    margin: 5px 0;
}

#answer_area .calculator .keypad .calc-row a {
    background: #ccc;
    border-radius: 2px;
    color: #000;
    display: inline-block;
    font-size: 12px;
    margin: 0 5px 0 0;
    text-align: center;
    text-decoration: none;
    width: 31px;
}

#answer_area .calculator .keypad .calc-row a.dark {
    background: #aaa;
}

#answer_area .calculator .keypad a sup {
    vertical-align: super;
    font-size: 80%;
    line-height: 0;
    top: 0;
}

#answer_area .calculator .keypad a.wide {
    width: 67px;
}

#solutionarea {
    min-height: 35px;
    padding: 10px;
    margin: 0 -10px;
    overflow-x: auto;
    font-size: 14px;
}

#answer_area .answer-buttons {
  margin: 0 -10px;
  padding: 10px 10px 0;
  border-top: 1px solid #fff;
  position: relative;
}
#positive-reinforcement img {
  width: 28px;
  position: absolute;
  top: 7px;
  left: 5px;
  cursor: pointer;
}

#answer_area input.simple-button[disabled=disabled] { opacity: 0.5; filter: alpha(opacity = 50); cursor: default; }
#answer_area input.simple-button[disabled=disabled]:hover { color: #fff !important; }
#answer_area input.simple-button.orange[disabled=disabled]:hover { border-color: #bf4f04 !important; border-bottom-color: #803503 !important; }
#answer_area input.simple-button.green[disabled=disabled]:hover { border-color: #76a005 !important; border-bottom-color: #557303 !important; }

.simple-button.disabled { opacity: 0.5; filter: alpha(opacity = 50); cursor: default; }

#hint-remainder { color: #777; }

#get-hint-button-container { margin-bottom: 10px;}

#footer .simple-button, .info-box .simple-button { padding: 3px 10px; top: -1px }
.info-box .simple-button { top:  0; }
#answerform .info-box .problem-btn {
  height: 40px;
  box-shadow: 0px 2px 4px rgba(50,50,50,0.5);
  letter-spacing: 2px;
}
#answerform .info-box .problem-btn.btn.btn-grey {
  background-color: #919BA7;
  border: 1px #7D8996 solid;
  color: white;
}
#answerform .info-box .problem-btn.btn.btn-grey:hover,
#answerform .info-box .problem-btn.btn.btn-grey:active,
#answerform .info-box .problem-btn.btn.btn-grey:focus {
  background-color: #808796;
  border: 1px #6C7885 solid;
}
#answerform .info-box .problem-btn.btn.btn-blue {
  background-color: #4085CB;
  border: 1px #3573B2 solid;
  color: white;
}
#answerform .info-box .problem-btn.btn.btn-blue:hover,
#answerform .info-box .problem-btn.btn.btn-blue:active,
#answerform .info-box .problem-btn.btn.btn-blue:focus {
  background-color: #3974BA;
  border: 1px #2462A1 solid;
  color: white;
}
#answerform .info-box .flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#answerform .info-box .full-width {
  width: 100%;
}

#issue #issue-status.error { font-weight: bold; color: #A21; font-size: 1.2em; }
#issue-link { font-style: italic; }
#issue form label { display: block; }
#issue form input[type=text] { display: block; width: 98%; }
#issue form textarea { display: block; width: 98%; height: 100px; }
#issue-cancel { float: right; }
#issue fieldset {
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 22px;
  margin-bottom: 3px;
}
#issue fieldset legend { padding-left: 5px; padding-right: 5px; }
#issue fieldset label { display: inline; }
#issue fieldset li { margin-top: 0px; margin-bottom: 0px; }

var, div.graphie { font-size: 16px; white-space: pre; }

#throbber { position: relative; top: 4px; left: 4px; }
#issue-throbber { position: relative; top: 3px; }

.exp input { font-size: 9px; height: 15px; }

.above-scratchpad {
  z-index: 3;
  position:relative;
}

.correct-activity {
  background-color: #69bb00;
  text-shadow: 0 -1px 0 #557303;
}

.incorrect-activity {
  background-color: #e12c2d;
  text-shadow: 0 -1px 0 #921118;
}

.hint-activity {
  background-color: #f19726;
  text-shadow: 0 -1px 0 #B55C00;
}

.user-activity {
  margin: 3px;
  padding: 6px 10px;
  border: 1px solid #999;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  float: left;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.user-activity input {
  color: black;
  cursor: pointer;
  font-size: 18px;
}

.correct-activity p, .incorrect-activity p {
  margin: 0px;
  font-size: 20px;
}

div.timeline-time {
  float: left;
  padding-top: 10px;
  font-size: 20px;
}

div.timeline-time:before {
  padding: 3px;
  content: "~";
}

div.timeline-time:after {
  padding: 3px;
  content: "~";
}

div.timeline-total {
  border-top: 1px solid #999;
}

#timelinecontainer {
  border: 1px solid #c6d1ad;
  border-top: 0px;
  position: relative;
}

#timelinecontainer:before, #timelinecontainer:after {
  content: "";
  display: table;
}

#timelinecontainer:after {
  clear: both;
}

#timelinecontainer {
  zoom: 1;
}

#timeline {
  overflow: hidden;
  position: absolute;
  left: 265px;
  right: 225px;
  border-left: 1px solid #c6d1ad;
  border-right: 1px solid #c6d1ad;
}

#timeline-events {
  width: 10000px;
}

#timeline-events:first-child {
  margin-left: 5px;
}

#timeline-events:last-child {
  margin-right: 5px;
}

#timeline-events:last-child:after {
	content: "";
	height: 1px;
	display: block;
}

#timeline{
  margin: 0;
}

#previous-problem {
  margin: 5px;
  cursor: pointer;
  float: left;
  width: 100px;
  text-align: center;
}

#previous-step {
  margin: 5px;
  cursor: pointer;
  float: left;
  width: 100px;
  text-align: center;
}

#next-step {
  margin: 5px;
  cursor: pointer;
  float: right;
  width: 100px;
  text-align: center;
}

#previous-step span {
  background: url(/images/previous-step.png) no-repeat 0 50% transparent;
  padding: 4px 0 4px 25px;
}

#next-step span {
  background: url(/images/next-step.png) no-repeat 100% 50% transparent;
  padding: 4px 25px 4px 0;
}

#next-problem {
  margin: 5px;
  cursor: pointer;
  float: right;
  width: 100px;
  text-align: center;
}

.user-activity.activated {
  border: 2px solid #888;
}

.lite header, .lite footer, .lite #extras, .lite .exercise-badge, .lite .hint-box, .lite .related-video-box {
	display: none !important;
}

.lite #page-container, .lite #container {
	min-width: 0;
	border-width: 0;
}

.lite #streak-bar-container {
	position: absolute;
	top: 10px;
	left: 15px;
}

.lite #answercontent {
	position: absolute;
	right: 5px;
	top: 12px;
	padding: 0px;
	border: none;
	-webkit-box-shadow: none;
	overflow: visible;
}

.lite #answercontent > * {
	float: left;
	margin-right: 10px;
}

/* TODO: Find a better way to display these. */
.lite #throbber, .lite #check-answer-results {
	display: none !important;
}

.lite #answercontent .info-box-header {
	font-size: 16px;
}

.lite #answercontent #examples-show, .lite #answercontent #examples {
	display: none !important;
}

.lite .ui-icon {
	width: 18px;
	height: 18px;
}

.lite h1 {
	font-family: inherit;
}

.lite #solutionarea input {
	font-size: 14px;
}

.lite #answercontent .simple-button {
	margin-top: -5px;
	color: #fff !important;
	font-size: 14px;
	text-shadow: none;
}

#warning-bar {
	width: 100%;
	height: 35px;
	text-align: center;
	font-size: 15px;
	display: none;
	padding: 6px 0;
	position: relative;
	z-index: 3;
}

#warning-bar span {
	position: relative;
	top: 5px;
}

#warning-bar-close {
	top: 5px;
	float: right;
	right: 20px;
	position: relative;
}

#warning-bar-content a {
	text-decoration: underline;
}

#warning-bar.error {
  background-color: #D61914;
  color: #eee;
}

#warning-bar.error a {
  color: #eee;
}

#warning-bar.warning {
  background-color: #f5e722;
  color: #222;
}

#warning-bar.warning a {
  color: #222;
}

.exercises-header h2 {
  margin-bottom: 15px;
}

.exercises-header h4 {
  margin-bottom: 0;
}

/* Faux table styles that allow revealing data row by row in hints */

.fake_header > span {
	font-weight: bold;
	display: inline-block;
	padding-left: 10px;
	border-bottom: 2px solid #CCCCCC;
}

.fake_row > span {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-bottom: 1px solid #DDD;
}

.fake_row:nth-child(n) > span {
	border-bottom: none;
}

.fake_row:nth-child(2n+1) > span {
	background-color: #F3F3F3;
}

#timelinecontainer .simple-button {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.thumbnail a {
  outline: none;
  color: #fff;
}

.thumbnail a:hover {
  text-decoration: none;
}

.thumbnail div.thumb {
  background-size: 200px 150px;
  background-position: no-repeat top left;
  background-position: 0px -25px;
  background-position-y: -80px\9;
  background-position-x: -100px\9;
  width: 200px;
  height: 100px;
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 0 3px #ccc;
  -moz-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  margin-left: 14px; /* to line up with other titles */
  margin-bottom: 8px;
  margin-top: 4px;
}

.thumbnail div.thumbnail_label {
  padding: 5px 10px;
  max-width: 180px;
  margin: 0;
  text-align: left;
  margin-top: 68px;
  background: #333;
  background-color: rgba(30, 30, 30, 0.9);
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail div.thumbnail_desc {
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.thumbnail div.thumbnail_teaser {
  height: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-decoration: none;
  font-size: 11px;
}

.sortable {
  font-size: 16px;
	background: #eee;
	border: 1px solid #ccc;
	border-bottom: 1px solid #aaa;
	padding: 13px;
	position: relative;
	z-index: 3;

	box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	-webkit-box-shadow: 0 1px 2px #ccc;
}

.sortable > ul {
	list-style-type: none;
}

.sortable > ul > li {
	background-color: #fff;
	border: 1px solid #b9b9b9;
	border-bottom-color: #939393;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
	margin-right: 4px;
	width: 65px;
	height: 65px;
	text-align: center;
	font-size: 1.2em;
	float: left;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.sortable > ul > li.placeholder {
	background:#ddd;
	border: 0;
	border: 1px solid #ccc;
	float: left;
}


.sortable > ul > li .MathJax {
	line-height: 65px;
}

.sortable > ul > li:hover {
	border-color: #ffa500;
	box-shadow: 0 0 4px #c56f00;
	-moz-box-shadow: 0 0 4px #c56f00;
	-ms-box-shadow: 0 0 4px #c56f00;
	-o-box-shadow: 0 0 4px #c56f00;
	-webkit-box-shadow: 0 0 4px #c56f00;
}

.sortable > ul > li:active, .sortable > ul > li.dragging {
	background-color: #ffedcd;
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

#want-more-hints {
  font-size: 16px;
}
